aiohttp
ansiwrap
async-timeout
attrs
certifi
charset-normalizer
colorama
fake-useragent
idna
inquirer
loguru
multidict
python-socks[asyncio]
requests
six
sortedcontainers
typing-extensions
urllib3
websockets-proxy
websockets==12
yarl
